@media only screen and (min-width: 720px) {
	nav {
	  width: 100vw;
		height: 5vh;
	}
	article {
		width: 100vw;
		height: 95vh;
}

@media only screen and (min-width: 300px) {
	nav {
		width: 100vw;
		height: 2vh;
		background-color: #1b1b1b;
	}
	article {
		width: 100vw;
		height: 98vh;
		background-color: #2e2e2e;
}

nav {
	background-color: #1b1b1b;
}
article { 
	background-color: #2e2e2e;
}
